DATABASE_URL="file:./prisma/dev.db"
AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_SESSION_TOKEN=""
AWS_S3_BUCKET=""
AWS_DYNAMODB_SESSIONS_TABLE="sesiones-alumnos"
AWS_SNS_TOPIC_ARN=""
